<a href="https://colab.research.google.com/github/Anir1983/machine-learning-projects/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("/content/Employees.csv")

In [5]:
# dispaly the top five rows
print(df.head())

   EmpID   Name     City  Age   Salary Department
0    101  Alice   London   32  50000.0         HR
1    102    Bob    Paris   31  60000.0    Finance
2    103  Chris  NewYork   35  40000.0        DBA
3    104  David   London   37      NaN         IT
4    105  Emily    Paris   33  55000.0         HR

In [10]:
#shape
print(df.shape)

(8, 6)